.card{
  border: 1px solid hsla(0, 0%, 0%, 0.8);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.2);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: tahoma, Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 0.2);
}
.card .card-text{
  font-family: serif;
  color: hsl(0, 0%, 0.336);
}


/* FOR STUDENT */

.student{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsla(0, 1%, 50%, 0.808);

}
.student p{
  margin: 0;
}

/*FOR UserGreeting*/

.welcome-message{
  font-size: 2.5rem;
  background-color: rgb(85, 122, 15);
  color: white;
  margin: 0;
}
.login-prompt{
  font-size: 2.5rem;
  background-color: rgba(114, 53, 13, 0.767);
  color: white;
  margin: 0;
}



/*Foods*/

.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: hsl(150, 100%, 50%);

}
.list-items li{
  font-size: 2em;
  list-style: none;
  color: hsl(0, 0%, 20%);
  text-align: center;
  margin: 0;
}

.list-items li:hover{
  color: hsl(0, 0%, 60%);
  cursor: pointer;
}

/*Counter*/

.container{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1.5px solid darkorange;
}

.msg{
  font-size: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn{
  width: 150px;
  height: 50px;
  font-size: 20px;
  background-color: hsl(180, 94%, 48%);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin: 50px 5px;
  cursor: pointer;
}

.btn:hover{
  background-color: hsl(180, 94%, 38%) ;
}