.card{
  border: 1px solid hsla(0, 0%, 0%, 0.8);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.2);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: tahoma, Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 0.2);
}
.card .card-text{
  font-family: serif;
  color: hsl(0, 0%, 0.336);
}


/* FOR STUDENT */

.student{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsla(0, 1%, 50%, 0.808);

}
.student p{
  margin: 0;
}

/*FOR UserGreeting*/

.welcome-message{
  font-size: 2.5rem;
  background-color: rgb(85, 122, 15);
  color: white;
  margin: 0;
}
.login-prompt{
  font-size: 2.5rem;
  background-color: rgba(114, 53, 13, 0.767);
  color: white;
  margin: 0;
}



/*Foods*/

.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: hsl(150, 100%, 50%);

}
.list-items li{
  font-size: 2em;
  list-style: none;
  color: hsl(0, 0%, 20%);
  text-align: center;
  margin: 0;
}

.list-items li:hover{
  color: hsl(0, 0%, 60%);
  cursor: pointer;
}

/*Counter*/

.container{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1.5px solid darkorange;
  margin: 154px 0 ;
}

.msg{
  font-size: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn{
  width: 150px;
  height: 50px;
  font-size: 20px;
  background-color: hsl(180, 94%, 48%);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin: 50px 5px;
  cursor: pointer;
}

.btn:hover{
  background-color: hsl(180, 94%, 38%) ;
}


/*Color*/

.color-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin: 50px;
  font-style: 2.1em;

}
.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}
.color-display p{
  color: hsl(0, 0%, 20%);
  font-size: 1.2em;
  text-align: center;

}

label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid hsl(0, 0%, 80%);
}


/*TO DO LIST*/

.to-do-list{
  font-family: serif;
  text-align: center;
  margin-top: 100px;
}

h1{
  font-size: 2rem;
}

button{
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;

}

.add-button{
  background-color: hsl(124, 45%, 54%);

}

.add-button:hover{
    background-color: hsl(124, 45%, 44%);
}

.delete-btn{
    background-color: hsl(27, 100%, 58%);

}
.delete-btn:hover{
      background-color: hsl(27, 100%, 48%);

}
.move-btn{
      background-color: hsl(202, 100%, 58%);

}
.move-btn:hover{
      background-color: hsl(202, 100%, 48%);

}

input[type="text"]{
  font-size: 1.4rem;
  padding: 10px;
  border: 2px solid hsl(120, 87%, 76%);
  border-radius: 5px;
  color: rgb(53, 37, 37);
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsla(0, 0%, 100%, 0.705);
  margin-bottom: 20px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display:flex;
  align-items: center;
}
.text{
  flex: 1;
}
.delete-btn, .move-btn{
  padding: 8px 12px;
  font-size: 1.2rem;
  margin-left: 10px;
}
